.contact {
    /* padding-top: 12rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2828287c;
    border: 1px solid #ffffff7b;
    padding: 3rem 0.8rem;
    border-radius: 10px;
    position: relative;
}

.contact::before {
    content: "";
    width: min(100%, 300px);
    aspect-ratio: 1/1;
    position: absolute;
    z-index: -1;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    background: linear-gradient(var(--secondary), var(--primary));
    filter: blur(40px);
}

.bigheading {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1ch;
    margin-bottom: 1.3rem;
}

.bigheading > * {
    line-height: 0.8em;
    font-size: 5rem;
    font-weight: 900;
}


.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem 2rem;
}

.tech svg {
    width: 3rem;
    height: 3rem;
}

.social-icon {
    color: var(--secondary);
    transition: all 0.3s;
}

.social-icon:hover {
    color: var(--primary);
}

.tech {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .desc {
    position: relative;
    margin-top: 2rem;
    text-align: center;
    width: min(100%, 60ch);
}

@media screen and (max-width: 540px) {
    .bigheading > * {
        font-size: 3rem;
    }

    .social-icons {
        gap: 1rem;
    }
}

.social-icons a {
    transition: all 0.2s ease;
}

.social-icons a:hover {
    transform: scale(1.05) rotate(15deg);
}
