.root-content {
    /* overflow-x: hidden !important; this causes navbar stickiness to loose */
}

#root .star {
	/* display: none; */
    width: 100vw;
    position: absolute;
    top: 0;
}

#root .star img {
    width: 100%;
}

.credits {
    color: #ffffff;
    background-color: transparent !important;
    position: relative;
    z-index: -3;
    display: inline-block !important;
    margin-top: 3rem;
}

@media screen and (max-width: 550px) {
    #root {
        grid-template-columns: 1fr;
    }

    .side-bar {
        display: none;
    }
}
