.root-content {
    /* overflow-x: hidden !important; this causes navbar stickiness to loose */
}

#root .star {
    /* display: none; */
    aspect-ratio: 1920/1080;
    position: absolute;
    top: 0;
    right: 0;
}

#root .star img {
    width: 100%;
}

.credits {
    color: #ffffff;
    background-color: transparent !important;
    position: relative;
    z-index: -3;
    display: inline-block !important;
    margin-top: 3rem;
}

@media screen and (min-width: 700px) {
    #root .star {
        width: 100vw ;
    }
}
@media screen and (max-width: 700px) {
    #root .star {
        height: 60vh ;
    }
}



@media screen and (max-width: 550px) {
    #root {
        grid-template-columns: 1fr;
    }

    .side-bar {
        display: none;
    }
}
